{% load static %}

    {% if page_obj.has_other_pages %}
        <ul class="pagination" class="text-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > page_obj.number|add:'-2' and i < categories.number|add:'2' %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

<style>
        ul{
    overflow:hidden;
}
li{
    display:inline;
}
.pagination {
display: inline-block;
}

.pagination li {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
}

.pagination li.active {
background-color: #4CAF50;
color: white;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

    </style>


